<!DOCTYPE html>
<html lang="es">

  <%- include('../other/headerScript'); -%>

<body>

  <%- include('../other/index'); -%>
  <div class="incluide">
    <%- include('../message'); %>
  </div>
  <div class="genericTools row container" width="100vw">
    <div class="text-center">
      <h2 class="h2">Tabla de Categorías</h2>
    </div>
    <br>
    <br>
    <br>
    <table class="table-bordered border-white text-center text-dark" id="tablecentral">
      <thead class="tableHeader">
        <th scope="col">Categoría</th>
        <th scope="col">Creacion</th>
        <th scope="col">Actualizacion</th>
        <th scope="col">Comportamiento</th>
      </thead>
      <tbody class="tbody text-white">
        <% categories.forEach(function(category) { %>
          <tr>
            <td>
              <%= category.name %>
            </td>
            <td>
              <%= category.created_at.toLocaleDateString() %>
                <%= category.created_at.toLocaleTimeString() %>
            </td>
            <td>
              <%= category.updated_at.toLocaleDateString() %>
                <%= category.updated_at.toLocaleTimeString() %>
            </td>
            <td>
              <div class="row">
                <div class="row">
                  <form action="./editCategory" method="GET">
                    <input type="hidden" name="id" value="<%= category.id %>">
                    <button type="submit" class="btn edit-btn mb-2"><i class="bi bi-pencil"></i></button>
                  </form>
                </div>
                <div class="row"></div>
                <div class="row">
                  <form action="./delete-category"onclick='return confirm("¿Esta seguro que desea eliminar el categoria?")' method="POST">
                    <input type="hidden" name="id" value="<%= category.id %>">
                    <button type="submit" class="btn delete-btn"><i class="bi bi-trash"></i></button>
                  </form>
                </div>
              </div>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
    <br>
    <br>
    <div class="float-start">
      <a href="./addCategory" class="btn primary-btn">Agregar Categoría</a>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      $('#tablecentral').DataTable({
        dom: 'B',
        buttons: [
            {
              extend: 'pdf', 
              className: 'btn btn-danger',
              titleAttr:'descargar en pdf',
              text:'<i class="bi bi-file-earmark-pdf"> PDF</i>',
              title: 'categorias'
            },
            {
             extend: 'csv', 
             className: 'btn btn-success',
             titleAttr:'descargar en csv',
             Text:'<i class="bi bi-filetype-csv"> csv</i>',
             title:'categorias'
            }
        ]
      })
    })
  </script>
  
</body>

</html>