<!DOCTYPE html>
<html lang="es">

  <%- include('../other/header'); -%>

<body class="inicio">

  <%- include('../other/index'); -%>


  <div class="users " style="margin-left: 36.5rem; margin-top: 3.8rem; ">
    <div class="row">
      <div class="col">
        <div class="card border-success bg-dark  " style="max-width: 21.8rem; max-height: 34rem;">
          <% login_user.forEach(function(users) { %>
            <div class="card-header bg-transparent border-success">
              <h3>Bienvenido <%=users.username %>
              </h3>
            </div>
            <div class="card-body text-success text-white">
              <h4>
                <%=users.email %>
              </h4>
            </div>
            <div class="card-footer bg-transparent border-success ">
              <form action="./editUser" method="GET">
                <input type="hidden" name="id" value="<%=user.id %>">
                <button type="submit" class="btn bg-transparent border-success m-4 text-white">Modifica tu
                  perfil</button>
              </form>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>


  <footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"></script>
    
  </footer>
</body>

</html>