<!DOCTYPE html>
<html lang="es">

<%- include('../other/header'); -%>

  <body>
    <%- include('../other/index'); -%>

      <div class="genericTools container">
        <div class="text-center">
          <h2 class="h2">Crear Pedidos</h2>
        </div>
        <br>
        <form action="./add-order" method="POST">
          <div class="tablecentral">
            <div class="row">
              <div class="col-6">
                <label for="Numero de orden" class="form-label">Numero de pedido</label>
                <input type="number" name="numeroDeOrden" id="numeroDeOrden" class="form-control" required>
              </div>
              <div class="col-6">
                 <label for="cliente" class="form-label">Cliente</label> 
                <select name="cliente" id="cliente" class="form-select" required>
                  <option value="" selected disabled>Seleccione el cliente</option>
                  <% users.forEach(function(user){ %>
                    <option value="<%= user.id %>">
                      <%= user.name %>
                    </option>
                    <%})%>
                </select>
              </div>
              <div class="col-6">
                <label for="fecha" class="form-label">Fecha de Pedido</label>
                <input type="date" name="fecha" id="fecha" class="form-control" required autocomplete="off">
              </div>
              <div class="col-6">
                <label for="Estado" class="form-label">status</label>
                <input type="text" name="status" id="status" class="form-control" required>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <label for="Productos">Seleccione uno o varios productos</label>
                  <select multiple class="form-control" name="productos" id="productos" required size="4">
                    <option value="" selected disabled>Seleccione productos</option>
                    <% productos.forEach(function(products){ %>
                      <option value="<%= products.id %>">
                        <%= products.productname %>
                      </option>
                      <%})%>
                  </select>
                </div>
              </div>
              <br>
            </div>
            <div class="row mt-3">
              <div class="col-lg-6 col-md-12">
                <div class="float-start">
                  <button type="submit" class="btn primary-btn">Agregar Pedido</button>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="float-end">
                  <a href="./orders" class="btn primary-btn">Volver a pedidos</a>
                </div>
              </div>
            </div>
        </form>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

  </body>

</html>