<!DOCTYPE html>
<html lang="es">

  <%- include('../other/headerScript'); -%>

<body>
  <%- include('../other/index'); -%>
  <div class="incluide">
    <%- include('../message'); %>
  </div>


  <div class="genericTools row container" width="100vw">
    <div class="text-center">
      <h2 class="h2">Tabla de Productos</h2>
    </div>
    <br>
    <br>
    <br>

    <table class="table-bordered border-white text-center text-dark" id="tablecentral">
      <thead class="tableHeader">
        <br>
        <th scope="col">Nombre de Producto</th>
        <th scope="col-1">Precio</th>
        <th scope="col-2">Tipo</th>
        <th scope="col-3">Categoría</th>
        <th scope="col-5">Creacion</th>
        <th scope="col-6">Actualizacion</th>
        <th scope="col-7">Comportamiento</th>
      </thead>
      <tbody class="tbody text-white">
        <% products.forEach(function(product) { %>
          <tr>
            <td>
              <%= product.productname %>
            </td>
            <td>
              <%= product.price %>
            </td>
            <td>
              <%= product.type %>
            </td>
            <td>
              <% if (product.category) { %>
                <%= product.category.name %>
                <% } %>
            </td>
            <td>
              <%= product.created_at.toLocaleDateString() %>
                <%= product.created_at.toLocaleTimeString() %>
            </td>
            <td>
              <%= product.updated_at.toLocaleDateString() %>
                <%= product.updated_at.toLocaleTimeString() %>
            </td>
            <td>
              <div class="row">
                <div class="row">
                  <form action="./editProduct" method="GET">
                    <input type="hidden" name="id" value="<%= product.id %>">
                    <button type="submit" class="btn edit-btn mb-2"><i class="bi bi-folder2-open"></i></button>
                  </form>
                </div>
                <div class="row"></div>
                <div class="row">
                  <form action="./delete-product" onclick='confirm("¿Esta seguro que desea eliminar el Producto?")'method="POST">
                    <input type="hidden" name="id" value="<%= product.id %>">
                    <button type="submit" class="btn delete-btn"><i class="bi bi-folder-x"></i></button>
                  </form>
                </div>
              </div>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
    <br>
    <br>
    
    <br>
    <br>
    <div class="float-start">
      <a href="./addProduct" class="btn primary-btn">Agregar Producto</a>
    </div>
  </div>
  <br>
  <script>
    $(document).ready(function(){
      $('#tablecentral').DataTable({
        dom: 'B',
        buttons: [
            {
              extend: 'pdf', 
              className: 'btn btn-danger',
              titleAttr:'descargar en pdf',
              text:'<i class="bi bi-file-earmark-pdf"> PDF</i>',
              title:'productos'
            },
            {
             extend: 'csv', 
             className: 'btn btn-success',
             titleAttr:'descargar en Csv',
             Text:'<i class="bi bi-filetype-csv"></i> Csv</i>',
             title:'productos'
            }
        ]
      })
    })
  </script>
</body>

</html>